NEXT_PUBLIC_SUPABASE_URL=https://mrrqsbfdarzsyywdeqya.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ycnFzYmZkYXJ6c3l5d2RlcXlhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5MjIyMjcsImV4cCI6MjA5NjQ5ODIyN30.bOF5msZAyl8UlYNCLHd6aym0dyILYtrue1Yr_EXKH5M
